{
        "semi"; true,
        "singleQuote"; true,
        "trailingComma"; "all",
        "printWidth"; 80,
        "tabWidth"; 4,
        "node"; true
        
}
module.exports = {
        plugins: ['prettier-plugin-tailwindcss'],
      }
