.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}


body {
    font-family: 'Resin', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
}